<!DOCTYPE html>

<html>

<head>
    <title>WeatherApp.js</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>The Weather App</p>
    </div>
    {{>footer}}
</body>

</html>